

h1{
    text-align: center;
    background-color: #4F6F7A;
    color: #8AACB7;
    font-size: 50px;
}

img{
    width: 180px;
    height: 150px;
}

p{
    background-color: #8AACB7;
    font-size: 35px;
    text-align: center;

}

img:hover{
    margin:20px;
    border: 5px solid #425E68;
    box-shadow: 5px 5px 5px 0 #658590;
    transition: 0.2s linear;
}

.info{
 background-color: #BCD1D9;
 color: #1e2e33;
 font-size: 25px;
}

table,td{
    border: 4px solid #425E68;
}

tr:first-child{
    background-color: #BCD1D9;
}

tr:last-child{
    background-color: #8AACB7;
}

table{
    font-size: 25px;
    border-collapse: collapse;
}

h11{
    background-color: #37697A;
    font-size:40px ;
    text-align: center;
}

footer{
    background-color: #37697A;
}
